/***********************************************************************/
/************************* BOOTSTRAP OVERRIDES *************************/
/***********************************************************************/
.container, 
.container-fluid, 
.container-xxl, 
.container-xl, 
.container-lg, 
.container-md, 
.container-sm
{
    padding-left: 1rem;
    padding-right: 1rem;
}
@include media-breakpoint-up(xxl) {
    .container {
        max-width: $max-content-width;
        margin: auto;
        padding-left: 60px;
        padding-right: 60px;
        &.jumbo {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
/***********************************************************************/
/******************************* HELPERS *******************************/
/***********************************************************************/
.hidden {
    display: none !important;
}

.green {
    color: $primary-green !important;
}

.blue {
    color: $brand-blue !important;
}

.teal {
    color: $brand-teal !important;
}

.violet {
    color: $brand-violet !important;
}

.orange {
    color: $brand-orange !important;
}

.red {
    color: $brand-red !important;
}

.white {
    color: $white !important;
}

.underline {
    text-decoration: underline !important;
}

.bold {
    font-weight: 900 !important;
}

.main--container {
    margin-top: 30px;
    min-height: calc( 100vh - 50px );
    //overflow: hidden;

    @include media-breakpoint-up(lg) {
        //overflow-y: visible;
        margin-top: 100px;
    }
}

.responsive-video {
    margin: 2rem 0;
    border-radius: 12px;
    aspect-ratio: 16/9;
    iframe, video {
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }
    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
}

.padded-on-desktop {
    @include media-breakpoint-up(xl) {
        padding-left: 8rem;
    }
}


/* For Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
}

/* For Microsoft Edge */
input[type="search"]::-ms-reveal {
    display: none;
}

/* For WebKit browsers like Chrome and Safari */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select{
    padding: .75rem 1.25rem;
    border:none;
    border-radius:.375rem;
    appearance: none;
    background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23DFE2D3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.20605 13.3235C9.52033 12.9421 10.0808 12.8905 10.458 13.2084L15.1968 17.2021L19.5132 13.2338C19.8764 12.8998 20.4386 12.9269 20.7688 13.2943C21.0991 13.6616 21.0723 14.2302 20.709 14.5641L16.3927 18.5324C15.7363 19.136 14.7403 19.1577 14.0587 18.5833L9.31986 14.5895C8.94272 14.2717 8.89177 13.7049 9.20605 13.3235Z' fill='%235E6738'/%3E%3C/svg%3E");
    background-size: 1.875rem 1.875rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;
}
.single-job-post select{
    width:100%;

}


.custom-multi-select-dropdown.custom-select {
    height: 50px;
    border: 1px solid $grayscale-3;
    border-radius: 5px;
    color: $primary-green;
    width: 15rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: auto;
    margin-top: 3rem;
    &:first-child {
        margin-right: auto;
    }

    .header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 10px;
        padding-right: 35px;
        background-color: $transparent;
        border: 0;
        border-radius: 5px;
        @include media-breakpoint-up(xl) {
           min-width: 10rem;
        }
        @include media-breakpoint-up(xxl) {
            min-width: 12rem;
         }
    }
    &.custom-select {
        position: relative;
        // @include media-breakpoint-up(xl) {
        //     margin-top: 0;
        //  }
        .icon {
            background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23DFE2D3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.20605 13.3235C9.52033 12.9421 10.0808 12.8905 10.458 13.2084L15.1968 17.2021L19.5132 13.2338C19.8764 12.8998 20.4386 12.9269 20.7688 13.2943C21.0991 13.6616 21.0723 14.2302 20.709 14.5641L16.3927 18.5324C15.7363 19.136 14.7403 19.1577 14.0587 18.5833L9.31986 14.5895C8.94272 14.2717 8.89177 13.7049 9.20605 13.3235Z' fill='%235E6738'/%3E%3C/svg%3E");
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 95%;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            @include transition;
        }
        &.active {
            .icon {
                transform: rotate(-180deg);
            }
        }
        .options {
            background: $grayscale-1;
            z-index: 1;
            position: absolute;
            width: 22rem;
            overflow: hidden;
            height: 0;
            transition: height 0.3s ease-out;
            @include dropShadow;
            .option {
                padding: 17px 40px;
                width: 100%;
                border-bottom: 1px solid $neutral-2;
                input[type="checkbox"] {
                    display: none;
                }
                label {
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    user-select: none;
                    &::before {
                        content: "";
                        border: 2px solid $neutral-2;
                        position: absolute;
                        top: 6px;
                        left: -20px;
                        width: 12px;
                        height: 12px;
                        background-color: $grayscale-1;
                        border-radius: 3px;
                        
                    }
                }
                input[type="checkbox"]:checked + label::after {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: -17px;
                    width: 6px;
                    height: 6px;
                    background-color: $primary-green;
                    border-radius: 2px;
                }
            }
        }
    }
    &:nth-child(2) {
        .options {
            right: 0;
        }
    }
}
