.resources-container {
    margin-top: 2rem;
    .title-and-search-container {
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            .title-container {
                flex-basis: 60%;
            }
            .search-and-filter {
                flex-basis: 40%;
            }
        }
        @include media-breakpoint-up(xl) {
            justify-content: space-between;
            .title-container {
                flex-basis: 50%;
            }
            .search-and-filter {
                flex-basis: 48%;
            }
        }
    }
    .title-container {
        padding: 40px 0 20px;
        color: $primary-green;
        .link {
            color: $primary-green;
            position: relative;
            &::after {
                position: absolute;
                content: '>';
                right: -1rem;
                top: -2px;
                width: 10px;
                height: 10px;
                font-size: 1.25rem;
                font-weight: 100;
                @include transitionAll;
            }
            &:hover {
                color: $brand-blue;
                &::after {
                    right: -1.5rem;
                    color: $brand-blue;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                margin-left: 0;
                font-size: 50px;
            }
            .all-resources {
                margin-right: 1rem;
            }
        }
        @include media-breakpoint-up(xl) {
            .link {
                padding-right: 20px;
                &::after {
                    right: 0;
                }
            }
        }
    }
    .gap {
        gap: 1rem;
    }
}


.search-and-filter {
    .search {
        position: relative;
        margin: 10px 0;

        input {
            width: 100%;
            height: 50px;
            border: 1px solid $ui-grayscale-3;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 30px;

            &::placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &::-webkit-input-placeholder {
                color: $ui-grayscale-4;
            }
        }

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8947 7.81579C13.8947 11.1731 11.1731 13.8947 7.81579 13.8947C4.45848 13.8947 1.73684 11.1731 1.73684 7.81579C1.73684 4.45848 4.45848 1.73684 7.81579 1.73684C11.1731 1.73684 13.8947 4.45848 13.8947 7.81579ZM12.8913 13.7595C11.5257 14.9267 9.75308 15.6316 7.81579 15.6316C3.49925 15.6316 0 12.1323 0 7.81579C0 3.49925 3.49925 0 7.81579 0C12.1323 0 15.6316 3.49925 15.6316 7.81579C15.6316 9.56904 15.0543 11.1875 14.0794 12.4913L17.7284 16.1403L16.5003 17.3685L12.8913 13.7595Z' fill='%235E6738'/%3E%3C/svg%3E");
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }

    .filters {
        display: flex;
        justify-content: space-between;

        select {
            height: 50px;
            border: 1px solid $ui-grayscale-3;
            border-radius: 5px;
            padding: 0 10px;
            color: $primary-green;
            width: 48%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            &:first-child {
                margin-right: 2%;
            }

            &.custom-select {
                background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='20' fill='%23DFE2D3'/%3E%3Cpath transform='translate(12, 18)' fill-rule='evenodd' clip-rule='evenodd' d='M0.412094 0.64695C1.04065 -0.115849 2.16166 -0.21891 2.91592 0.416755L12.3937 8.40424L21.0264 0.467601C21.7528 -0.200325 22.8772 -0.146177 23.5376 0.588541C24.198 1.32326 24.1446 2.46032 23.4182 3.12827L13.9405 11.0649C13.4725 11.2719 12.9299 11.3153 12.3937 11.1666L2.63944 3.17908C0.118552 1.54344 -0.216463 0.401701 0.412094 0.64695Z' fill='%235E6738'/%3E%3C/svg%3E");
                background-size: 30px;
                background-repeat: no-repeat;
                background-position: 95%;
                padding-right: 30px;
                position: relative;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: center;
        align-items: center;
        .search {
            margin-right: 10px;
            input {
                min-width: 275px;
            }
        }
    }
}


.category {
    @include media-breakpoint-up(xl) {
        .card.featured {
            &:first-child {
                flex-basis: calc(66% - 8px);
                padding-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .inner {
                    display: flex;
                    flex-direction: row !important;     
                    .image-wrapper {
                        flex-basis: 50%;
                        .image {
                            @include backgroundProperties;
                            height: 100%;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 10px;
                        }
                    }
                    .content-wrapper {
                        flex-basis: 50%;
                        padding: 70px 20px 2rem !important;
                        min-height: 480px;
                        .title {
                            font-size: 40px;
                            font-weight: 200;
                            line-height: 44px;
                        }
                        .excerpt {
                            display: block;
                        }
                    }
                }
            }
            &:nth-child(2) {
                flex-basis: calc(33% - 8px);
            }
        }
    }
}