.classrooms {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    .hero-with-image-module {
        padding: 0 0 30px 0;

        @include media-breakpoint-up(lg) {
            padding-top: 30px;
        }

        .left-column {
            min-height: 250px;

            img {
                @include media-breakpoint-up(lg) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .general-horizontal-tabs-module {
        padding-bottom: 30px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 100px;
        }

        .inner {
            padding-bottom: 15px;

            @include media-breakpoint-up(lg) {
                flex-basis: 20%;

                &.sticky {
                    position: sticky;
                    height: fit-content;
                }
            }
        }

        .heading {
            padding: 30px 0 8px;
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                padding: 70px 0 88px;
            }
        }
        img{
            width:385px;
            height:320px;
            object-fit: cover;
            border-radius:1rem;

        }
        .video-wrapper {
            width: 343px;
            height: 192px;
            padding: 0;
            margin: 20px auto;
            position: relative;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }

            video {
                width: 100%;
                border-radius: 1rem;

                @include media-breakpoint-up(lg) {
                    height: auto;
                    margin-top: 0;
                }
            }
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        h3 {
            margin-bottom: 20px;
        }

        button.primary {
            margin-top: 40px;
            background-color: $primary-green;
            width: auto;
        }

        .tab-content {
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            overflow: hidden;
            max-height: 0;
            opacity: 0;

            &.active {
                max-height: 600px;
                opacity: 1;
            }

            @include media-breakpoint-up(lg) {
                opacity: 1;
                max-height: max-content;
            }
        }

        @include media-breakpoint-up(lg) {
            .desktop-content {
                .tab-content {
                    &::before {
                        content: none;
                    }

                    .video-wrapper {
                        flex-basis: 42%;
                        margin-left: 0.5rem;
                    }

                    .content-wrapper {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }

    .additional-offerings {
        .heading {
            padding: 30px 0 40px;
        }

        .b4 {
            font-weight: 600;
            padding-bottom: 15px;
        }

        .two-columns-image-and-text-alternative {
            padding-bottom: 40px;

            .blurb p{
                font-size:1rem;
                font-weight: 400 !important;
                line-height: 1.625rem;
            }
        }
    }

    .primrose-commitment {
        background-color: $grayscale-3;
        padding: 30px 0;

        @include media-breakpoint-up(lg) {
            padding: 140px 0 120px;
        }
    }
}

.staff {
    .heading {
        text-align: center;
        margin-top: 5rem;

        @include media-breakpoint-up(lg) {
            padding: 60px 0;
        }
    }

    .filter {

        select,
        .custom-select {
            height: 50px;
            border: 1px solid $grayscale-3;
            border-radius: 5px;
            color: $primary-green;
            width: 226px;
            //left: calc(50% - 113px);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            .option.active {
                background-color: blue;
            }

            &:first-child {
                //margin-right: 2%;
            }

            .header {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 12px 10px;
                padding-right: 35px;
                background-color: $transparent;
                border: 0;

                @include media-breakpoint-up(xl) {
                    min-width: 10rem;
                }

                @include media-breakpoint-up(xxl) {
                    min-width: 12rem;
                }
            }

            &.custom-select {

                position: relative;

                .icon {
                    background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23DFE2D3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.20605 13.3235C9.52033 12.9421 10.0808 12.8905 10.458 13.2084L15.1968 17.2021L19.5132 13.2338C19.8764 12.8998 20.4386 12.9269 20.7688 13.2943C21.0991 13.6616 21.0723 14.2302 20.709 14.5641L16.3927 18.5324C15.7363 19.136 14.7403 19.1577 14.0587 18.5833L9.31986 14.5895C8.94272 14.2717 8.89177 13.7049 9.20605 13.3235Z' fill='%235E6738'/%3E%3C/svg%3E");
                    background-size: 30px;
                    background-repeat: no-repeat;
                    background-position: 95%;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    @include transition;
                }

                &.active {
                    .icon {
                        transform: rotate(-180deg);
                    }
                }

                .options {
                    background: $grayscale-1;
                    z-index: 1;
                    position: absolute;
                    width: 120%;
                    left: -1.5rem;
                    top: 3rem;
                    overflow: hidden;
                    height: 0;
                    transition: height 0.3s ease-out;
                    text-align: left;
                    @include dropShadow;

                    @include media-breakpoint-up(lg) {
                        width: 140%;
                        left: -3rem;
                        margin-top: 0px;
                    }

                    .option {
                        padding: 17px 20px;
                        width: 100%;
                        border-bottom: 1px solid $neutral-2;
                        @include transition;

                        input[type="checkbox"] {
                            display: none;
                        }

                        &.active {
                            padding-left: 40px;
                        }

                        label {
                            display: inline-block;
                            position: relative;
                            cursor: pointer;
                            user-select: none;

                            &::before {
                                content: "";
                                border: 0 solid $neutral-2;
                                position: absolute;
                                top: 6px;
                                left: -20px;
                                width: 0;
                                height: 0;
                                background-color: $grayscale-1;
                                border-radius: 3px;

                            }
                        }

                        &:not(:first-child) {
                            label {
                                &::before {
                                    content: "";
                                    border: 0 solid $black;
                                    position: absolute;
                                    top: 10px;
                                    left: -20px;
                                    width: 0;
                                    height: 0;
                                    background-color: $black;
                                    border-radius: 3px;

                                }
                            }

                            input[type="checkbox"]:checked+label::before {
                                background-color: $primary-green;
                                border: 2px solid $primary-green;
                                width: 5px;
                                height: 5px;
                                border-radius: 0;
                            }
                        }

                        input[type="checkbox"]:checked+label::before {
                            content: "";
                            border: 1px solid $neutral-2;
                            width: 13px;
                            height: 13px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                .options {
                    right: 0;
                }
            }
        }
    }

    .load-more {
        margin-bottom: 50px;

        button {
            width: auto;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 100px;
        }
    }

    .staff-members {
        margin: 40px auto;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1150px;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 26px;
            margin: 40px auto;
        }

        .staff-member {
            border-radius: 8px;
            border: 0.668px solid #E6E6E6;
            background: var(--black-neutral, #F1F1EF);
            width: 375px;
            padding-right: 0px;
            position: relative;
            .col-4{
                padding:0;
            }
            img {
                height: 100px;
                display: block;
                object-fit: cover;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                @include media-breakpoint-up(lg) {
                    height: 144px;
                }
            }

            @include media-breakpoint-up(lg) {
                flex-basis: calc(50% - 13px);
                @include transitionAll();

                &.expanded {
                    background-color: $white;
                }
            }

            #button {
                width: 2rem;
                height: 2rem;
                border: 0;
                font-size: 1rem;
                position: absolute;
                top: 2rem;
                right: 0.5rem;
                line-height: 1;
                padding: 0;
                border-radius: 50%;
                background-color: $brand-blue;
                border: 1px solid $brand-blue;
                cursor: pointer;

                @include media-breakpoint-up(lg) {
                    top: 3.5rem;
                }

                span {
                    position: absolute;
                    transition: 300ms;
                    border-radius: 2px;
                    background-color: $grayscale-1;

                    &:first-child {
                        top: 30%;
                        bottom: 25%;
                        width: 5%;
                        left: 49%;
                        height: 40%;
                    }

                    &:last-child {
                        left: 27%;
                        right: 27%;
                        height: 6%;
                        top: 46%;
                    }

                }

                &.expanded {

                    background-color: $transparent;

                    span {
                        transform: rotate(90deg);
                        background-color: $brand-blue;

                        &:last-child {
                            left: 50%;
                            right: 50%;
                        }
                    }

                }
            }

            .bio {
                max-height: 0;
                transition: max-height 0.5s ease-in-out;
                overflow: hidden;

                &.expanded {
                    max-height: fit-content;
                }
            }
        }
    }

    .franchise-owners {
        padding: 30px auto;

        .bio{
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            max-height:175px;
            overflow:hidden;
            text-overflow: ellipsis;
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        @include transitionAll;

        @include media-breakpoint-up(lg) {

            .left-column,
            .right-column {
                padding: 2rem 3rem;
            }

            .left-column {
                flex-basis: 40%;
            }

            .right-column {
                flex-basis: 60%;
            }
        }

        &.show {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }

        .modal-content {
            background: $white;
            padding: 20px;
            border-radius: 5px;
            transform: scale(0.95);
            @include transitionAll;

            @include media-breakpoint-up(lg) {
                min-height: 464px;
                max-width: 1144px;
                margin: auto;
                top: calc(50% - 464px);
                border-radius: 30px;

                .two-columns-image-and-text-alternative {
                    align-items: flex-start;

                }
            }

            &.show {
                transform: scale(1);
            }
            .modal-bio{
                height:370px;
                overflow-y: auto;
            }
        }

        .close {
            text-align: right;
            top: -0.5rem;
            position: relative;
        }

        .left-column {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        img {
            object-fit: cover;
            object-position: top;
        }

        .b4 {
            font-weight: 600;
        }
    }
}

.thank-you {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        @include transitionAll;

        @include media-breakpoint-up(lg) {

            .left-column,
            .right-column {
                padding: 2rem 3rem;
            }

            .left-column {
                flex-basis: 40%;
            }

            .right-column {
                flex-basis: 60%;
            }
        }

        &.show {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }

        .modal-content {
            background: $white;
            padding: 20px;
            border-radius: 5px;
            transform: scale(0.95);
            @include transitionAll;

            @include media-breakpoint-up(lg) {
                min-height: 464px;
                max-width: 1144px;
                margin: auto;
                top: calc(50% - 464px);
                border-radius: 30px;

                .two-columns-image-and-text-alternative {
                    align-items: flex-start;

                }
            }

            &.show {
                transform: scale(1);
            }
        }

        .close {
            text-align: right;
            top: -0.5rem;
            position: relative;
        }

        .left-column {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        img {
            object-fit: cover;
            object-position: top;
        }

        .b4 {
            font-weight: 600;
        }
    }

    .thank {
        .left-column img {
            @include media-breakpoint-up(lg) {
                object-fit: contain;
            }
        }
    }

    .franchise-owners {
        padding: 30px 0;

        @include media-breakpoint-up(lg) {
            padding: 50px 0;
        }
    }

    .meet-staff {
        padding: 30px 0;

        @include media-breakpoint-up(lg) {
            padding: 50px 0;
            padding-bottom: 140px;
        }
    }
}

.schedule-a-tour {
    @include media-breakpoint-up(lg) {
        padding: 100px 70px;
    }

    .form-wrapper {
        margin-top: 40px;
        margin-bottom: 60px;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }

        .desc {
            margin-bottom: 40px;
        }

        form {
            display: flex;
            flex-wrap: wrap;

            div[hidden]#gfield_1,
            div[hidden]#gfield_3,
            div[hidden]#gfield_6,
            div[hidden]#gfield_11
            {
                display: flex !important;
            }
            div[hidden]#gfield_7
            {
                display: none !important;
            }

            .gfield {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 26px;

                label {
                    @extend .h5;
                    text-wrap: nowrap;
                }

                legend {
                    @extend .b3;
                }

                input,
                select {
                    display: flex;
                    width: 100%;
                    padding: 13px 24px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 6px;
                    border: 1px solid $neutral-2;
                    background-color: $form-bg;
                    font-size: 18px;
                    color: $primary-darkgray;

                    &::placeholder {
                        color: $primary-darkgray;
                        font-weight: 300;
                    }
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url('/assets/dropdown-icon.svg');
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-size: 30px;
                    border: 1px solid #dcdcdc;
                    padding-right: 45px;
                }

                .custom-select {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    margin-top: 0;
                }

                input[disabled]#field_7,
                input[disabled]#field_18,
                input[disabled]#field_24,
                input[disabled]#field_28,
                input[disabled]#field_32,
                input[disabled]#field_36,
                select[disabled]#field_8,
                select[disabled]#field_9,
                select[disabled]#field_10,
                select[disabled]#field_15,
                select[disabled]#field_16,
                select[disabled]#field_17,
                select[disabled]#field_25,
                select[disabled]#field_26,
                select[disabled]#field_27,
                select[disabled]#field_29,
                select[disabled]#field_30,
                select[disabled]#field_31,
                select[disabled]#field_33,
                select[disabled]#field_34,
                select[disabled]#field_35,
                select[disabled]#field_37,
                select[disabled]#field_38,
                select[disabled]#field_39
                {
                    display: none !important;
                }
                &#gfield_7 > label, &#gfield_18 > label, &#gfield_24 > label, &#gfield_28 > label, &#gfield_32 > label, &#gfield_36 > label,
                &#gfield_8 > label, &#gfield_15 > label, &#gfield_25 > label, &#gfield_29 > label, &#gfield_33 > label, &#gfield_37 > label {
                    display: none;
                }
                &#gfield_8, &#gfield_15, &#gfield_25, &#gfield_29, &#gfield_33, &#gfield_37 {
                    margin-top: 5px;
                }

                &#gfield_9, &#gfield_10, &#gfield_16, &#gfield_17, &#gfield_26, &#gfield_27, 
                &#gfield_30, &#gfield_31, &#gfield_34, &#gfield_35, &#gfield_38, &#gfield_39
                {
                    label {
                        display: none;
                    }
                }

                &#gfield_6 {
                    margin-bottom: 40px;
                }

                &#gfield_8,
                &#gfield_15,
                &#gfield_25,
                &#gfield_29,
                &#gfield_33,
                &#gfield_37 {
                    margin-bottom: 10px;
                }

                &#gfield_9,
                &#gfield_16,
                &#gfield_26,
                &#gfield_30,
                &#gfield_34,
                &#gfield_38 {
                    margin-right: 10px;
                }

                &#gfield_9,
                &#gfield_10,
                &#gfield_16,
                &#gfield_17,
                &#gfield_26,
                &#gfield_27,
                &#gfield_30,
                &#gfield_31,
                &#gfield_34,
                &#gfield_35,
                &#gfield_38,
                &#gfield_39 {
                    width: calc(50% - 5px);
                }

                &#gfield_23_23 {
                    display: flex;
                    flex-direction: row-reverse;
                    position: relative;

                    label {
                        display: none;
                    }

                    legend {
                        padding-left: 20px;
                    }

                    input[type="checkbox"] {
                        opacity: 0;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        z-index: 1;
                    }

                    .checkbox-style {
                        height: 20px;
                        width: 20px;
                        border: 1px solid $neutral-2;
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                    }

                    input[type="checkbox"]:checked+.checkbox-style {
                        background-image: url('/assets/checkmark.svg');
                        background-size: cover;
                        background-size: 90%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                &#gfield_13_13 {
                    label {
                        font-weight: 300;
                        margin-left: 20px;
                    }

                    legend {
                        @extend .h5;
                        font-weight: 700;
                    }

                    input[type="radio"] {
                        opacity: 0;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        z-index: 1;
                    }

                    .radio-style {
                        height: 20px;
                        width: 20px;
                        border: 1px solid $neutral-2;
                        border-radius: 50%;
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                    }

                    input[type="radio"]:checked+.radio-style {
                        background-color: $primary-green;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                    }

                    .input-wrappers {
                        display: flex;

                        .input-wrapper:nth-child(2) {
                            margin-left: 20px;
                        }
                    }
                }

                @include media-breakpoint-up(xl) {
                    width: calc(50% - 18px);
                    //margin-bottom: 30px;

                    &#gfield_1,
                    &#gfield_5_5 {
                        margin-right: 36px;
                    }

                    &#gfield_7,
                    &#gfield_18,
                    &#gfield_11,
                    &#gfield_23_23,
                    &#gfield_13_13,
                    &#gfield_24,
                    &#gfield_28,
                    &#gfield_32,
                    &#gfield_36 {
                        width: 100%;
                        //margin-top: 20px;
                    }

                    &#gfield_6 {
                        width: 47%;
                    }

                    &#gfield_8,
                    &#gfield_9,
                    &#gfield_10,
                    &#gfield_15,
                    &#gfield_16,
                    &#gfield_17,
                    &#gfield_25,
                    &#gfield_26,
                    &#gfield_27,
                    &#gfield_29,
                    &#gfield_30,
                    &#gfield_31,
                    &#gfield_33,
                    &#gfield_34,
                    &#gfield_35,
                    &#gfield_37,
                    &#gfield_38,
                    &#gfield_39 {
                        width: calc(33% - 16px);
                    }

                    &#gfield_8,
                    &#gfield_9,
                    &#gfield_15,
                    &#gfield_16,
                    &#gfield_25,
                    &#gfield_26,
                    &#gfield_29,
                    &#gfield_30,
                    &#gfield_33,
                    &#gfield_34,
                    &#gfield_37,
                    &#gfield_38 {
                        margin-right: 26px;
                    }

                    &#gfield_9,
                    &#gfield_10,
                    &#gfield_16,
                    &#gfield_17,
                    &#gfield_26,
                    &#gfield_27,
                    &#gfield_30,
                    &#gfield_31,
                    &#gfield_34,
                    &#gfield_35,
                    &#gfield_38,
                    &#gfield_39 {
                        margin-top: 5px;
                    }
                }
            }

            button {
                width: auto;
                @extend .primary;
            }
        }
    }
}

.school-home {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    .hero-with-slider {
        @include media-breakpoint-up(lg) {
            padding-bottom: 100px
        }

        .left-col {
            @include media-breakpoint-up(lg) {
                padding-right: 20px;
            }

            .slick-slide {
                border-radius: 30px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 30px;

                    @include media-breakpoint-up(xl) {
                        width: 687.568px;
                        height: 408px;
                        object-fit: cover;
                        object-position: center;


                    }
                }
            }

            .slick-dots {
                background-color: #FBFBFB;
                border-radius: 1rem;
                width: auto;
                display: flex !important;
                justify-content: center;
                align-items: center;
                padding: 7px 6px;
                bottom: 0.5rem;
                left: 50%;
                transform: translate(-50%, -50%);

                @include media-breakpoint-up(lg) {
                    bottom: -5rem;
                }

                li {
                    margin: 0;

                    button:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $transparent;
                        border: 1px solid #D2D3D1;
                        opacity: 0.5;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include transition;

                        @include media-breakpoint-up(lg) {
                            border: 1px solid #D2D3D1;

                        }
                    }

                    &.slick-active button:before {
                        content: '';
                        width: 0;
                        height: 0;
                        border: unset;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 10px solid $brand-orange;
                        background-color: transparent;
                        opacity: 1;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 0;
                        @include transition;

                    }
                }
            }
        }

        .right-col {
            padding: 20px 16px;

            @include media-breakpoint-up(lg) {
                border: 1px solid $neutral-1;
                padding: 33px 40px 0;
                border-radius: 30px;
            }

            .phone {
                a {
                    color: $text-gray;
                }
            }

            .accreditations {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .accreditation-images {
                    @include media-breakpoint-up(lg) {
                        flex-direction: column;
                    }
                }
            }

            .classrooms {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 0;

                    li {
                        flex-basis: calc(50% - 20px);
                        margin-left: 20px;

                        a {
                            color: $primary-darkgray;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .social-links {
                @include media-breakpoint-up(lg) {
                    border-bottom: 0 !important;
                }
            }
        }
    }

    .first-five {
        padding: 30px 0 0;

        @include media-breakpoint-up(lg) {
            padding: 60px 0 0;
        }

        .two-columns-image-and-text-alternative {
            padding-top: 30px;
            padding-bottom: 40px;

            @include media-breakpoint-up(lg) {
                padding: 80px 0;
            }

            .left-column {
                margin-bottom: 40px;
            }

            .right-column {
                button {
                    margin-top: 40px;
                }
            }
        }

        .heading-wrapper {
            max-width: 648px;
            text-align: center;
            margin: auto;
            padding-bottom: 30px;
        }

        .custom-select {
            width: 216px;
            margin-top: 0;

            .options {
                width: 216px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }

            .header {
                border-color: $neutral-2;
            }
        }

    }

    .news-slider-module {
        padding: 30px 0 60px;

        .heading {
            max-width: 512px;

            //margin-bottom: 40px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 50px;
            }
        }

        .slick-dots {
            background-color: #FBFBFB;
            border-radius: 1rem;
            width: auto;
            display: flex !important;
            justify-content: center;
            align-items: center;
            padding: 7px 6px;
            bottom: -4.5rem;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(lg) {
                bottom: -5rem;
            }

            li {
                margin: 0;

                button:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $transparent;
                    border: 1px solid #D2D3D1;
                    opacity: 0.5;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include transition;

                    @include media-breakpoint-up(lg) {
                        border: 1px solid #D2D3D1;

                    }
                }

                &.slick-active button:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border: unset;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 10px solid $brand-orange;
                    background-color: transparent;
                    opacity: 1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 0;
                    @include transition;

                }
            }
        }

        .news-slider-module {
            .card-wrapper {
                padding: 10px;

                .card {
                    border-radius: 30px;
                    background-color: $grayscale-2;

                    .featured-image {
                        min-height: 198px;
                        border-top-right-radius: 30px;
                        border-top-left-radius: 30px;
                        background-size: cover;
                        background-position: center;

                        @include media-breakpoint-up(lg) {
                            min-height: 240px;
                        }
                    }

                    .info {
                        padding: 30px;

                        .excerpt p {
                            color: $primary-darkgray;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 20px;
                            margin-bottom: 0;
                        }

                        button {
                            margin-top: 36px;
                        }
                    }
                }
            }
        }
    }

    .reviews {
        @include media-breakpoint-up(lg) {
            margin-right: 30px;
        }

        @include media-breakpoint-up(xxl) {
            margin-right: 150px;
        }
    }
}

.classroom-type {
    padding-top: 0;
    padding-bottom: 1.5rem;
    .general-horizontal-tabs-module {
        padding-bottom: 30px;

        @include media-breakpoint-up(lg) {
            padding-top: 3rem;
            padding-bottom: 100px;
        }

        .inner {
            padding-bottom: 15px;

            @include media-breakpoint-up(lg) {
                flex-basis: 20%;

                &.sticky {
                    position: sticky;
                    height: fit-content;
                }
            }
        }

        .heading {
            padding: 30px 0 8px;
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                padding: 70px 0 88px;
            }
        }

        img {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 343px;
            height: 285px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
                margin-bottom: 0;
                width: 250px;
                height: 200px;
            }

            @include media-breakpoint-up(xxl) {
                width: 383px;
                height: 319px;
            }
        }

        h3 {
            margin-bottom: 20px;
        }

        button.primary {
            margin-top: 40px;
            background-color: $primary-green;
            width: auto;
        }

        .tab-content {
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            overflow: hidden;
            max-height: 0;
            opacity: 0;

            &.active {
                max-height: 600px;
                opacity: 1;
            }

            @include media-breakpoint-up(lg) {
                opacity: 1;
                max-height: max-content;
            }
        }

        @include media-breakpoint-up(lg) {
            .desktop-content {
                .tab-content {
                    &::before {
                        content: none;
                    }

                    .content-wrapper {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }

    .general-vertical-tabs {
        padding-top: 30px;

        @include media-breakpoint-up(lg) {
            padding-top: 60px;
        }

        .tab-content.gallery {
            display: block;
        }

        .gallery-wrapper {
            background-color: #F1F1EF;
            border-radius: 30px;

            .gallery-slider {
                .arrows .arrow {
                    background-color: #E6E7E4;
                }

                .container {
                    justify-content: end !important;
                }

                h2 {
                    display: none;
                }

                .caption-wrapper {
                    margin-top: 16px;
                }
            }
        }
    }

    .background-color {
        background-color: #FBFBFB;
        padding-bottom: 30px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 60px;
        }
    }
}

.school-careers {
    .jobs-container {
        background-color: $grayscale-2;
        padding: 4rem 0;
        .heading-wrapper {
            text-align: center;
            max-width: 700px;
            margin: auto;
        }
        .job-tile-wrapper {
            @include media-breakpoint-up(lg) {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
            }
            .job-tile {
                width: 100%;
                background-color: $white;
                @include media-breakpoint-up(lg) {
                    width: 450px;
                }
                @include media-breakpoint-up(xxl) {
                    width: 563px;
                    h5 {
                        margin-bottom: 2rem;
                    }
                    button {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
    .testimonials-with-video-or-image {
        margin-top: 5rem;
        margin-bottom: 5rem;
        @include media-breakpoint-up(lg) {
            margin-bottom: 10rem;
        }
    }
    .gallery-slider {
        background-color: $grayscale-2;
    }
}

.single-job-post {
    .employment-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        gap: 10px;
        padding: 7px 10px;
        border-radius: 2px;
        border: 1px solid $neutral-2;
    }
    .form-wrapper {
        display: flex;
        width: 343px;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        background-color: $grayscale-3;
        padding: 2rem 1rem;
        border-radius: 6px;
        label {
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input {
            display: flex;
            padding: 13px 24px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 6px;
            background: $white;
            border: 0;
            width: 100%;
        }
        .custom-select {
            width: 100%;
            margin-top: 10px;
            z-index: unset;
            .header {
                border: 0;
                border-radius: 6px;
            }
            .options {
                z-index: 10;
            }
        }
        .checkbox-wrap {
            margin-top: 10px;
            margin-bottom: 10px;
            input[type="checkbox"] {
                opacity: 0;
                position: absolute;
                width: 20px;
                height: 20px;
                z-index: 1;
            }
            input[type="checkbox"]:checked+.checkbox-style {
                background-image: url('/assets/checkmark.svg');
                background-size: cover;
                background-size: 90%;
                background-position: center;
                background-repeat: no-repeat;
            }
            .checkbox-style {
                height: 20px;
                width: 20px;
                margin-right: 1rem;
                border: 1px solid $neutral-2;
                position: relative;
                display: inline-block;
                cursor: pointer;
            }
            label {
                flex-basis: 90%;
                margin-top: 0;
            }
        }
        .disabled {
            opacity: 0.5; /* Adjust as necessary to make it look "faded" */
            pointer-events: none; /* This prevents users from clicking the disabled arrow */
        }
    }
    .thank-you {
        img {
            width: 100%;
            @include media-breakpoint-up(lg) {
                width: 275px;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .main {
            flex-basis: 65%;
        }
        .aside {
            flex-basis: 25%;
        }
    }
}

//THIS IS THE COMPONENT WITH THE BLUE BACKGROUND AND SCROLLING IMAGES IT IS A SHARED COMPONENT SO IT'S STYLED OUTSIDE OF PAGE CLASSES
.school .find-a-school {
    margin: 30px 0 60px;

    @include media-breakpoint-up(lg) {
        margin: 120px 0;
    }
}

.hiring-alert {
    border-radius: 12px;
    background: var(--violet-normal, #814C9E);
}

.enrolling-alert {
    border-radius: 12px;
    background: var(--blue-normal, #006BA6);
}
