.search-container {
    .search-bar-container {
        background-color: $grayscale-3;
        padding-top: 1rem;
        padding-bottom: 0;
        @include media-breakpoint-up(lg) {
            .container {
                border-bottom: 0 !important;
            }
            .search {
                padding-bottom: 1rem;
            }
        }
        .search {
            position: relative;
            input {
                min-width: 343px;
                height: 50px;

            }
            .clear-icon {
                position: absolute;
                cursor: pointer;
                right: 1rem;
                top: 0.75rem;
                opacity: 0;
                @include transitionAll();
                &.active {
                    opacity: 1;
                }
            }
        }
        .search-filters {
            @include media-breakpoint-up(lg) {
                justify-content: center;
            }
            .filter {
                @include transitionAll();
                position: relative;
                cursor: pointer;
                &.active {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 1rem;
                        left: 0;
                        background-color: $primary-green;
                        height: 3px;
                        width: 100%;
                        @include media-breakpoint-up(lg) {
                            bottom: 0;
                        }
                    }
                    
                }
            }
        }
    }
    .results {
        .result {
            padding-top: 40px; 
            padding-bottom: 1rem;
            border-bottom: 1px solid $neutral-2;
            .title {
                font-weight: bold;
                color: $primary-darkgray;
                @include transitionAll;
                &:hover {
                    color: $brand-blue;
                }
            }
            .excerpt {
                p {
                    margin-bottom: 5px;
                    @extend .b2; 
                }
            }
            .link {
                color: $brand-blue;
                word-wrap: break-word;
            }
        }
        .resource-cards {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
        .four-panels  {
            @include media-breakpoint-up(lg) {
                .container {
                    padding: 0;
                }
                .panels {
                    width: unset;
                    margin-left: unset;
                }
            }
        }
        .find-a-school-container {
            &.title {
                margin-top: 0!important
            }
            .map-title {
                display: none;
            }
        }
    }
}