@import './base/variables';
@import './base/mixins';
@import '~bootstrap/scss/bootstrap';
@import 'custom';

@import '../components/atoms/Button/button';
@import '../components/atoms/Tag/tag';

@import '../components/molecules/NewsletterForm/newsletterForm';

@import '../components/organisms/Footer/footer';
@import '../components/organisms/Header/header';
@import '../components/organisms/ResourceBanner/resourceBanner';
@import '../components/organisms/ResourceCard/resourceCard';
@import '../components/organisms/ResourcesMenu/reseourcesMenu';


@import '../components/modules/ClassroomSelectAndImage/classroomSelectAndImage';
@import '../components/modules/ClassroomSelectAndContent/classroomSelectAndContent';
@import '../components/modules/FeaturedSection/featuredSection';
@import '../components/modules/FindASchool/findASchool';
@import '../components/modules/FourAcrossSlider/fourAcrossSlider';
@import '../components/modules/GeneralButtonCTA/generalButtonCTA';
@import '../components/modules/GeneralHorizontalTabs/generalHorizontalTabs';
@import '../components/modules/GeneralVerticalTabs/generalVerticalTabs';
@import '../components/modules/HeroWithImage/heroWithImage';
@import '../components/modules/HeroWithVideo/heroWithVideo';
@import '../components/modules/Newsletter/newsletter';
@import '../components/modules/NewsletterFormCTA/newsletterFormCTA';
@import '../components/modules/PathwayToOwnership/pathwayToOwnership';
@import '../components/modules/PrimroseFriends/primroseFriends';
@import '../components/modules/Q1Skills/q1Skills';
@import '../components/modules/QuoteTestimonials/quoteTestimonials';
@import '../components/modules/ResourceSingleComponent/resourceSingleComponent';
@import '../components/modules/SeasonalBanner/seasonalbanner';
@import '../components/modules/StandardAccordionList/standardAccordionList';
@import '../components/modules/TwoColumnsFeaturedImage/twoColumnsFeaturedImage';
@import '../components/modules/TwoColumnsGreenBackground/twoColumnsGreenBackground';
@import '../components/modules/TwoColumnsImageAndText/twoColumnsImageAndText';
@import '../components/modules/TwoColumnsImageAndTextAlternative/twoColumnsImageAndTextAlternative';

@import './resources';

:root {
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: serif;
    --section-padding: 1rem;
    --link-color-example: #000;
    font-size: $font-size;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus,
*:active {
    outline: none;
}


html {
    width: 100vw;
    margin: 0;
    padding: 0;
    //overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 107.5px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: $font-size;
    background-color: $grayscale-1;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
    font-style: normal;
    color: $primary-darkgray;
}

h5,
h6 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
}

h1 {
    font-size: 34px;
    font-weight: 200;
    line-height: 38px;

    @include media-breakpoint-up(lg) {
        font-size: 62px;
        line-height: 64px; 
    }
}

h2 {
    font-size: 34px;
    font-weight: 200;
    line-height: 38px;

    @include media-breakpoint-up(lg) {
        font-size: 52px;
        line-height: 60px;
    }

}

h3 {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;

    @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 44px;
    }
}

h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;

    @include media-breakpoint-up(lg) {
        font-size: 26px;
        line-height: 32px;
    }
}

h5 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 26px;
    }
}

h6 {
    font-size: 8px;
    line-height: 14px;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
        font-size: 9px;
        line-height: 16px;
    }
}

p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    color: $text-gray;
    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 14px;
    }
    &.b2 {
        font-size: 13px;
        line-height: 18px;
        @include media-breakpoint-up(lg) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &.b3 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 26px;
        }
    }
    &.b4 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        @include media-breakpoint-up(lg) {
            font-size: 20px;
            line-height: 34px;
        }
    }
    &.b5 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        @include media-breakpoint-up(lg) {
            font-size: 28px;
            line-height: 38px;
        }
    }
    &.b6 {
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
        @include media-breakpoint-up(lg) {
            font-size: 34px;
            line-height: 42px;
        }
    }
    &.b7 {
        font-size: 34px;
        line-height: 42px;
        font-weight: 400;
        @include media-breakpoint-up(lg) {
            font-size: 50px;
            line-height: 62px;
        }
    }
}

.b2 {
    font-size: 13px;
    line-height: 18px;
    @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 20px;
    }
}
.b3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 26px;
    }
}
.b4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 34px;
    }
}
.b5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    @include media-breakpoint-up(lg) {
        font-size: 28px;
        line-height: 38px;
    }
}
.b6 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    @include media-breakpoint-up(lg) {
        font-size: 34px;
        line-height: 42px;
    }
}
.b7 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
        font-size: 50px;
        line-height: 62px;
    }
}

a {
    text-decoration: none;
    transition: 0.25s;
    color: $brand-blue;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $brand-teal;

    }
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.caption {
    font-family: 'Poppins';
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: $primary-darkgray;
    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 18px; 
        letter-spacing: 0.5px;
    }
}

.subheading {
    font-family: 'Source Serif Pro';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    @include media-breakpoint-up(lg) {
        font-size: 30px;
        line-height: 42px; 
    }
}

.module {
    overflow-x: hidden;
}