@import './base/variables';
@import './base/mixins';
@import '~bootstrap/scss/bootstrap';
@import 'custom';

@import '../components/atoms/Button/button';
@import '../components/atoms/Tag/tag';

@import '../components/molecules/NewsletterForm/newsletterForm';

@import '../components/organisms/ResourceCard/resourceCard';
@import '../components/organisms/Header/header';
@import '../components/organisms/Footer/footer';
@import '../components/organisms/ResourcesMenu/reseourcesMenu';
@import '../components/organisms/ResourceBanner/resourceBanner';

@import '../components/modules/StandardAccordionList/standardAccordionList';
@import '../components/modules/Newsletter/newsletter';

@import './resources';

:root {
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: serif;
    --section-padding: 1rem;
    --link-color-example: #000;
    font-size: $font-size;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus,
*:active {
    outline: none;
}


html {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 107.5px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: $font-size;
    background-color: $ui-grayscale-1;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
    font-style: normal;
    color: $heading-color;
}

h5,
h6 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 200;

    @include media-breakpoint-up(md) {
        font-size: 36px;
        line-height: 42px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 50px;
        line-height: 55px;
    }
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 200;

    @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 36px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 42px;
    }

}

h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;

    @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 28px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 30px;
        line-height: 36px;
    }
}

h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
        font-size: 20px;
        line-height: 24px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 28px;
    }
}

h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 22px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 24px;
    }
}

h6 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;

    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 20px;
    }

    @include media-breakpoint-up(lg) {
        line-height: 22px;
    }
}

p {
    font-size: $font-size;
    line-height: 26px;
}

a {
    text-decoration: none;
    transition: 0.25s;
    color: $brand-blue;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $brand-teal;

    }
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.main--container {
    margin-top: 105px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        margin-top: 94px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 71px;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}