.newsletter {
    background-color: $newsletter-bg;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    margin-left: -0.75rem;
    margin-right: -0.75rem;

    .heading {
        font-size: 38px;
        margin-bottom: 15px;
        color: $primary-green;
    }
    .subheading {
        line-height: 1.5;
        color: $black-lighter;
        max-width: 25rem;
    }
    @include media-breakpoint-up(lg) {
        background-color: $newsletter-bg-desktop;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        margin-top: 5rem;
        position: relative;
        &::before {
            content: "";
            width: 600px;
            height: 400px;
            right: 50%;
            bottom: 0;
            background-image: url(/assets/newsletter-graphic.png);
            background-position: left bottom;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            position: absolute;
            z-index: 999;
            
        }
    }
}