@mixin has-nth($expression, $element: '*') {

    &:nth-last-child(#{$expression}):first-child,
    &:nth-last-child(#{$expression}):first-child~#{$element} {
        @content;
    }
}

@mixin at-least($quantity, $element: '*') {
    @include has-nth('n + #{$quantity}', $element) {
        @content;
    }
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transitionAll() {
    -webkit-transition: all $transitionTime $transitionType;
    -moz-transition: all $transitionTime $transitionType;
    transition: all $transitionTime $transitionType;
}

@mixin dropShadow() {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@mixin borderRadius() {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

@mixin backgroundProperties() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}