$max-content-width: 1440px;
$font-size: 16px;

$primary-green: #5e6738;
$primary-darkgray: #373a36;

$text-gray: #555f68;

$brand-teal: #00a5b5;
$brand-blue: #006ba6;
$brand-violet: #814c9e;
$brand-orange: #ff9e1b;
$brand-red: #e03c31;

$neutral-1: #dfe2d3;
$neutral-2: #e6e6e6;
$neutral-3: #f5f9fc;
$neutral-4: #f3e6d2;
$neutral-5: #fef7f7;
$neutral-6: #f5fcfc;

$grayscale-1: #fff;
$grayscale-2: #fbfbfb;
$grayscale-3: #f1f1ef;
$grayscale-4: #e6e7e4;
$grayscale-5: #d2d3d1;
$grayscale-6: #858783;

$nav-border: #dfe2d4;

$card-background-color: #faf9f9;

$resource-hero-border: #9a70b1;

$pagination-caret-disabled: #dedfe1;

$q1circle: #ff9e1c;

$form-bg: #fafafa;

$mobile: 375px;
$mobileLarge: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopRegular: 1200px;
$desktopLarge: 1400px;

$transparent: rgba(255, 255, 255, 0);

$transitionTime: 300ms;
$transitionType: ease-in-out;
