$max-content-width: 1440px;
$font-size: 16px; 

$primary-green: #5E6738;
$primary-darkgray: #373A36;

$text-gray: #555F68;

$brand-teal: #00A5B5;
$brand-blue: #006BA6;
$brand-violet: #814C9E;
$brand-orange: #FF9E1B;
$brand-red: #E03C31;

$neutral-1: #DFE2D3;
$neutral-2: #E6E6E6;
$neutral-3: #F5F9FC;
$neutral-4: #F3E6D2;
$neutral-5: #FEF7F7;
$neutral-6: #F5FCFC;

$grayscale-1: #fff;
$grayscale-2: #FBFBFB;
$grayscale-3: #F1F1EF;
$grayscale-4: #E6E7E4;
$grayscale-5: #D2D3D1;
$grayscale-6: #858783;

$nav-border: #DFE2D4;

$card-background-color: #FAF9F9;

$resource-hero-border: #9a70b1;

$pagination-caret-disabled: #dedfe1;

$q1circle: #ff9e1c;

$form-bg: #FAFAFA;

$mobile: 375px;
$mobileLarge: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopRegular: 1200px;
$desktopLarge: 1400px;

$transparent: rgba(255, 255, 255, 0);

$transitionTime: 300ms;
$transitionType: ease-in-out;
