.home-hero-with-video {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        margin: auto;
        flex-direction: row;
        align-items: center;
        min-height: 590px;
        &.reverse-column {
            flex-direction: row-reverse;
        }
    }
    .left-column {
        order: 2;
       
        @include media-breakpoint-up(lg) {
            order: 1;
        
        }
        h1 {
            margin-bottom: 1rem;
            color: $primary-green;
        }
        h5 {
            margin-bottom: 1rem;
            color: $primary-green;
        }
        .find-a-location-hero {
            border: 1px solid #E6E6E6;
            width: 343px;
            border-radius: 30px;
            padding: 26px 20px;
            height: 200px;
            position: relative;
            .search-field {
                position: relative;
                input {
                    width: 303px;
                    height: 50px;
                    flex-shrink: 0;
                    border: 1px solid #E6E6E6;
                    border-radius: 12px;
                    padding-left: 10px;
                    padding-right: 25px;
                }
                .icon {
                    position: absolute;
                    top: 10px;
                    right: 0;
                }
                button {
                    position: absolute;
                    width: auto;
                    bottom: -60px;
                    right: 0;
                }
            }
            .link {
                margin-top: 1.5rem;
                a {
                    color: $text-gray;
                    text-decoration: underline;
                }
            }
           
        }
    }
    .right-column {
        order: 1;
        display: table;
        position: relative;
        h1 {
            margin-bottom: 1rem;
            color: $primary-green;
        }
        h5 {
            margin-bottom: 1rem;
            color: $primary-green;
        }
        .responsive-video {
            margin: 0;
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            height: fit-content;
            .responsive-video {
                margin: 2rem;
            }
        }
        video {
            border-radius: 30px;
            @include media-breakpoint-up(lg) {
                border-radius: 20px; 
            }
            @include media-breakpoint-up(xl) {  
                width: 100%;
            }
        }
    }
}
