// Existing styles for DynamicColumns
.dynamic-columns {
    padding-bottom: 136px;
    display: flex;
  
    .container {
      .icon-image {
        max-width: 64px;
        border-radius: 12px;
      }
  
      .normal-image-video {
        // min-width: 312px;
        // height: 200px;
        // width: 100%;
        object-fit: cover;
        // object-position: center;
        border-radius: 12px;
        aspect-ratio: 16 / 9;
      }
  
      .custom-style-2 {
        color: $primary-green;
        position: relative;
        font-size: 14px;
        &::after {
          position: absolute;
          content: '>';
          right: -1rem;
          top: -4px;
          width: 10px;
          height: 10px;
          font-size: 1.25rem;
          font-weight: 100;
          @include transitionAll;
        }
        &:hover {
          color: $brand-blue;
          &::after {
            right: -1.5rem;
            color: $brand-blue;
          }
        }
      }
      .title-container {
        h5 {
          color: $primary-darkgray;
        }
        &.column-gap {
          margin-top: 23px; 
        }
      }
    }
  }

  @media (max-width: 767px) {
    .dynamic-columns {
      padding-bottom: 40px;
    }
    .dynamic-length{
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
