.newsletter-form {
    #mc_embed_signup {
        clear: left;
        font: 14px "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    }
    .form-group {
        width: 100%;
        input.email {
            padding: 14px 20px;
            border: 1px solid $neutral-2;
            border-radius: 5px;
           width: 100%;
           font-size: 16px;
        }
    }
    .form-button {
        width: 9rem;
        input.primary {
            width: 100%;
            display: inline-flex;
            height: 50px;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 120px;
            background: $primary-green;
            color: $grayscale-1;
            border: 0;
            @include transition;
            &:hover {
                background-color: $primary-darkgray;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .form-group {
            flex-basis: 70%;
        }
        .form-button {
            flex-basis: 28%;
        }
    }
    @include media-breakpoint-up(xl) {
        .form-group {
            flex-basis: 76%;
        }
        .form-button {
            flex-basis: 22%;
            input.primary {
                width: 6rem;
            }
        }
    }
    @include media-breakpoint-up(xxl) {
        .form-group {
            flex-basis: 82%;
        }
        .form-button {
            flex-basis: 17%;
        }
    }
}