.newsletter-form {
    .form-group {
        width: 100%;
        input {
            padding: 14px 20px;
            border: 1px solid $newsletter-form-border;
            border-radius: 5px;
            width: 100%;
        }
    }
    .form-button {
        width: 9rem;
        button {
            width: 100%;
        }
    }
    @include media-breakpoint-up(lg) {
        .form-group {
            flex-basis: 70%;
        }
        .form-button {
            flex-basis: 28%;
        }
    }
    @include media-breakpoint-up(xl) {
        .form-group {
            flex-basis: 76%;
        }
        .form-button {
            flex-basis: 22%;
            button {
                width: 6rem;
            }
        }
    }
    @include media-breakpoint-up(xxl) {
        .form-group {
            flex-basis: 82%;
        }
        .form-button {
            flex-basis: 17%;
        }
    }
}