.hero-with-image {
    background-color: $grayscale-3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        margin: auto;
        flex-direction: row;
        align-items: stretch;
        min-height: 590px;
        // margin-left: -2rem;
        // margin-right: -2rem;
        &.reverse-column {
            flex-direction: row-reverse;
        }
    }
    @include media-breakpoint-up(xl) {
        &.reverse-column {
            .right-column {
                //padding: 110px 80px 110px 40px;
            }
        }
    }
    .left-column {
        margin: 0;
        position: relative;
        min-height: 190px;
        @include media-breakpoint-up(md) {
            min-height: 369px;
        }
       
        img {
            border-radius: 0;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            @include media-breakpoint-up(lg) {
                border-top-right-radius: 0;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            &.padded {
                height: 80%;
                width: 80%;
                top: 10%;
                left: 10%;
                border-radius: 15px;
               
            }
        }
    }
    .right-column {
        padding: 34px 20px;
        @include media-breakpoint-up(xl) {
            //padding: 110px 40px 110px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 2rem;
        } 
        h1 {
            margin-bottom: 1rem;
        }
        h5 {
            margin-bottom: 1rem;
            @include media-breakpoint-up(xl) {
                padding-right: 1rem;
            }
        }
        p, p span {
            @extend .b3;
        }
        button {
            margin-top: 30px;
            width: auto;
        }
    }
    .accent {
        background-size: 0;
        pointer-events: none;
        @include media-breakpoint-up(lg) {
            background-position: bottom right;
            background-size: 100%;
            position: absolute;
            width: 400px;
            height: 400px;
            bottom: -19rem;
            right: -10rem;
        }
    }
}