.two-columns-image-and-text {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
        &.reverse-column {
            flex-direction: row-reverse;
        }
    }
    .right-column {
        @media only screen and (max-width: 767px) {
            order: 1;
        }
        @include media-breakpoint-up(xl) {
            max-width: 536px;
        }
        h2 {
            margin-bottom: 1rem;
        }
        h5 {
            margin-bottom: 1rem;
            color: $text-gray;
        }
        .blurb { 
            p {
                @extend .b3;
            }
        }
        button {
            margin-top: 30px;
            margin-right: 10px;
            width: auto;
            border: 1px solid #E6E6E6;
            @media only screen and (max-width: 767px) {
                font-size: 12px;
            }
        }
        .custom-select {
            margin-top: 31px;
            @include media-breakpoint-up(lg) {
                margin-top: 30px;
                margin-left: 1rem;
                width: 216px;
                .options {
                    width: 216px;
                }
            }
            .header {
                border: 1px solid $neutral-2;
            }
        }
    }
    .left-column {
        margin-bottom: 1.5rem;
        position: relative;
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            @include media-breakpoint-up(xl) {
                max-width: 536px;
            }
        }
        .video-wrapper {
            margin: 0;
            // min-width: 343px; 
            height: 332px; 
            overflow: hidden;
            border-radius: 30px;
            position: relative;
            margin: 20px auto;
            @include media-breakpoint-up(lg) {
                margin: 0;
                margin-left: 1rem;
            }
            @include media-breakpoint-up(xl) {
                width: 536px;
                height: 420px;
            }
        }
        
        .video-wrapper video {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
        
        .announcement {
            position: absolute;
            bottom: -1.5rem;
            right: 0;
            padding: 1rem 11px;
            width: 152px;
            height: 160px;
            border-radius: 10px;
            border-top-right-radius: 4rem;
            text-align: center;
            border-bottom-right-radius: 0;
            .b4, .b7 {
                font-weight: 600;
            }
            @include media-breakpoint-up(lg) {
                width: 201px;
                height: 212px;
                right: unset;
                left: -3rem;
                bottom: 0;
                padding: 31px;
            }
        }
    }
    &.reverse-column {
        .left-column {
           
            @include media-breakpoint-up(lg) {
                margin-bottom: 30px;
                margin-right: 0;
                margin-left: auto;
            }
            img {
         
                @include media-breakpoint-up(xl) {

                    margin-right: 0;
                    margin-left: auto;
                }
            }
        }
    }
    &.center {
        @include media-breakpoint-up(lg) {
            justify-content: center;
            .left-column {
                margin-left: 0;
            }
        }
    }
}

.module.Page_Modules_Modules_TwoColumnsImageAndText {
    overflow-x: hidden;
}