.resource {
    .hero {
        background-color: #814C9E;
        color: $ui-grayscale-1;
        
        overflow:hidden;
        h1 {
            @extend .h2;
            color: $ui-grayscale-1 !important;
        }
        @include media-breakpoint-up(lg) {
            border-radius: .75rem;
            margin-top: 20px;
            margin-bottom: 4rem;
        }
        .inner {
            @include media-breakpoint-up(lg) {
                overflow: hidden;
                margin: auto;
                max-height: 35rem;
                //max-width: $max-content-width;
                .content-wrapper {
                    max-width: calc($max-content-width - 50%);
                    flex-basis: 50%;
                }
            }
        }
        .image-wrapper {
            @include media-breakpoint-up(lg) {
                flex-basis: 50%;
                text-align: right;
                max-width: calc($max-content-width - 50%);
                flex-basis: 50%;
                padding-right: 4rem;
            }
            img {
                width: 100%;
                min-height: 27rem;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                object-fit: cover;
                object-position: center;
                @include media-breakpoint-up(lg) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 50%;
                    border-top-right-radius: 50%;
                    
                }
            }
        }
        .content-wrapper {
            &::before {
                content: "";
                background-image: url('/assets/accent-orange-square.svg');
                position: absolute;
                width: 20vw;
                height: 20vw;
                left: 2rem;
                top: -35vw;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(80deg);
                @include media-breakpoint-up(sm) {
                    left: 3rem;
                    top: -10rem;
                    width: 6rem;
                    height: 6rem;
                    transform: rotate(30deg);
                }
                @include media-breakpoint-up(lg) {
                    left: -11rem;
                    top: -4rem;
                    width: 6rem;
                    height: 6rem;
                    transform: rotate(30deg);
                }
                @include media-breakpoint-up(xl) {
                    top: -7rem;
                }
                @include media-breakpoint-up(xxl) {
                    left: -10rem;
                    top: -6rem;
                    transform: rotate(46deg);
                }
            }
            &::after {
                content: "";
                background-image: url('/assets/accent-red-triangle.svg');
                position: absolute;
                width: 20vw;
                height: 20vw;
                right: 3rem;
                top: -36vw;
                transform: rotate(100deg);
                background-size: contain;
                background-repeat: no-repeat;
                @include media-breakpoint-up(sm) { 
                    padding-bottom: 0;
                    top: -11rem;
                    width: 6rem;
                    height: 6rem;
                    transform: rotate(99deg);
                    right: 3rem;
                }
                @include media-breakpoint-up(lg) { 
                    padding-bottom: 0;
                    top: 17rem;
                    width: 6rem;
                    height: 6rem;
                    transform: rotate(99deg);
                    right: unset;
                    left: -12rem;
                }
                @include media-breakpoint-up(xxl) {
                    top: 15rem;
                    transform: rotate(78deg);
                    left: -10rem;
                }
            }
        }
        .details {
            .caption {
                color: $ui-grayscale-1;
                color:  #B394C5;
                &::after {
                    content: "·";
                    position: absolute;
                    top: -1px;
                    right: -10px;
                    font-size: 20px;
                }
            }
            .date {
                p {
                    color:  #E6DBEC;
                }
            }
        }
        .title {
            border-bottom: 1px solid $resource-hero-border;
        }
        .author {
            color: #E6DBEC;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 26px;
        }
        .read-time {
            text-align: right;
            margin: 10px 0;
            position: relative;
            margin-right: 0;
            margin-left: auto;
            p {
                color: $ui-grayscale-1;
            }
            &::after {
                content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23D8C8E1'/%3E%3Cline x1='7.5' y1='4' x2='7.5' y2='9' stroke='%23D8C8E1'/%3E%3Cline x1='7' y1='8.5' x2='12' y2='8.5' stroke='%23D8C8E1'/%3E%3C/svg%3E");
                position: absolute;
                top: -0.15rem;
                right: 4.5rem;
            }
        }
    }
    .social {
        a {
            margin: 5px;
            @include transitionAll; 
            &:hover {
                transform: scale(1.1);
            }
            
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            left: 10%;
        }
    }
    .content {
        max-width: 760px;
        h5 {
            margin: 36px 0 9px;
            @include media-breakpoint-up(xl) {
                margin: 36px 0 12px;
            }
            @extend .b4;
        }
        p {
            @extend .b3;
        }
        ul {
            list-style: none;
            font-size: 14px;
            @include media-breakpoint-up(xl) {
                font-size: 16px;
            }
            li::before {
                content: "\2022"; 
                color: $brand-blue; 
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
        }
        .responsive-video {
            margin: 2rem 0;
            border-radius: 12px;
            aspect-ratio: 16/9;
            iframe {
                border-radius: 12px;
                width: 100%;
                height: 100%;
            }
        }
    }
    .tags {
        .container {
            border-top: 1px solid $ui-grayscale-5;
            border-bottom: 1px solid $ui-grayscale-5;
            padding: 40px 0;
            margin: 2rem 0;
            .tag {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .related {
        .card {
            border-bottom: 1px solid $ui-grayscale-3 !important;
            @include media-breakpoint-up(xl) {
                border-bottom: 0 !important;
            }
        }
        @include media-breakpoint-down(sm) {
            .card {
                .inner {
                    display: flex;
                    padding-bottom: 1rem;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    .content-wrapper {
                        .title {
                            padding-bottom: 7px !important;
                        }
                    }
                }
            }
        }
    }
}
