.hero-with-video {
    background-position: 5% 108%;
    background-repeat: no-repeat;
    background-color: $hero-bg;
    border-radius: 30px;
    margin: 1rem 0 30px;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        margin: auto;
        background-position: 100% 110%;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
        &.reverse-column {
            flex-direction: row-reverse;
        }
    }
    @include media-breakpoint-up(xl) {
        &.reverse-column {
            .left-column {
                padding: 110px 40px 110px 80px;
            }
        }
    }
    .left-column {
        order: 2;
        padding: 34px 20px 43px;
        @include media-breakpoint-up(lg) {
            order: 1;
        }
        @include media-breakpoint-up(xl) {
            padding: 110px 80px 110px 40px;
        }
        
        h1 {
            margin-bottom: 1rem;
        }
        h5 {
            margin-bottom: 1rem;
        }
        button {
            margin-top: 30px;
            width: auto;
        }
    }
    .right-column {
        order: 1;
        margin: 0;
        display: table;
        position: relative;
        @include media-breakpoint-up(lg) {
            display: flex;
            height: fit-content;
            padding: 1.45rem 2.5rem;
        }
        video {
            border-radius: 0;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            @include media-breakpoint-up(lg) {
                border-radius: 20px; 
            }
            @include media-breakpoint-up(xl) {  
                width: 100%;
            }
        }
    }
}
