.hero-with-video {
    background-color: $grayscale-3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        margin: auto;
        flex-direction: row;
        align-items: center;
        min-height: 590px;
        &.reverse-column {
            flex-direction: row-reverse;
        }
    }
    .left-column {
        order: 2;
        padding: 34px 20px 43px;
        @include media-breakpoint-up(lg) {
            order: 1;
            padding: 2rem;
        }
        @include media-breakpoint-up(xxl) {
            width: 536px;
            padding: 0;
            margin: auto;
        }
        
        h1 {
            margin-bottom: 1rem;
        }
        h5 {
            margin-bottom: 1rem;
        }
        p, p span {
            @extend .b3;
        }
        button {
            margin-top: 30px;
            width: auto;
        }
    }
    .right-column {
        order: 1;
        
        display: table;
        position: relative;
        .responsive-video {
            margin: 0;
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            height: fit-content;
            .responsive-video {
                margin: 2rem;
            }
        }
        video {
            border-radius: 0;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            @include media-breakpoint-up(lg) {
                border-radius: 20px; 
            }
            @include media-breakpoint-up(xl) {  
                width: 100%;
            }
        }
    }
    .accent {
        pointer-events: none;
        background-position: top;
        background-size: 100%;
        position: absolute;
        width: 400px;
        height: 400px;
        bottom: -20rem;
        right: -12rem;
       
        @include media-breakpoint-up(lg) {
            bottom: -19rem;
            right: 4rem;
        }
    }
}
