.card {
    background-color: $card-background-color;
    border: 0;
    border-radius: 10px;
    margin: 15px 0;
    padding-bottom: 15px;

    @include media-breakpoint-up(md) {
        margin: 10px;
        flex-basis: calc(50% - 20px);
        justify-content: center;
    }

    a {
        color: $primary-green;
    }

    .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 240px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .details {
        display: flex;
    }

    .type {
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        margin-right: 10px;

        &::after {
            content: "·";
            position: absolute;
            top: -6px;
            right: -10px;
            font-size: 20px;
        }
    }

    .date {
        font-size: 12px;
    }

    .title {
        margin: 10px auto 30px;
    }

    .excerpt {
        color: $card-excerpt;
        font-size: 15px;
        font-weight: 400;
        display: none;
    }

    .tags {
        display: flex;
    }
    
    &.featured {
        .content-wrapper {
            padding: 25px 15px;
        }

        @include media-breakpoint-up(lg) {
            &:first-of-type {
                flex-basis: 100%;
                padding-bottom: 0;

                .inner {
                    display: flex;
                }

                .image {
                    width: 400px;
                    height: 100%;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                }

                .excerpt {
                    display: block;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            flex-basis: 32%;
            margin: 10px 0;
            &:first-of-type {
                flex-basis: 66%;
                margin: 10px 0;
            }
        }
    }

    &.medium {
        .content-wrapper {
            padding: 25px 15px;
        }
        @include media-breakpoint-down(lg) {
            &:not(.featured) {
                background-color: $transparent;
                border-bottom: 1px solid $ui-grayscale-3;
                border-radius: 0;

                .inner {
                    display: flex;

                    .image-wrapper {
                        .image {
                            width: 128px;
                            height: 110px;
                            border-radius: 10px;
                        }
                    }

                    .content-wrapper {
                        margin-left: 15px;
                        padding: 0;

                        .title {
                            font-size: 20px;
                        }

                        .tags {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.small {
        .content-wrapper {
            padding: 25px 15px;
        }
        @include media-breakpoint-down(lg) {
            &:not(.featured) {
                padding: 5px;
                background-color: $transparent;
                border-bottom: 1px solid $ui-grayscale-3;
                border-radius: 0;

                .inner {
                    .image-wrapper {
                        display: none;
                    }

                    .content-wrapper {
                        padding: 0;
                        .title {
                            font-size: 20px;
                        }

                        .tags {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        flex-basis: 32%;
        margin: 10px 0;
          
        a {
            height: 100%;
        }
        .inner {
            align-items: stretch;
            height: 100%;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}


.category {
    .card {
        &.featured {
            .content-wrapper {
                padding: 25px 15px;
            }

            @include media-breakpoint-up(lg) {
                flex-basis: 32%;
                a {
                    height: 100%;
                }
                &:first-of-type {
                    flex-basis: 63%;
                    padding-bottom: 0;

                    .inner {
                        display: flex;
                        height: 100%;

                    }
                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .image {
                        width: 250px;
                        height: 100%;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 10px;
                    }
                    .excerpt {
                        display: block;
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            margin: 10px;
            flex-basis: calc(33% - 17px);
            &.featured {
                &:first-of-type {
                    flex-basis: 65%;
                    .image {
                        width: 350px;
                    }
                }
            }
        }
        @include media-breakpoint-up(xxl) {
            &.featured {
                &:first-of-type {
                    .image {
                        width: 450px;
                    }
                }
            }
        }
    }
}