.gravity-form{
    .form-wrapper{
        form{
            justify-content: space-between;
            .gfield.gfield-TEXTAREA{
                width:100%;
                
            }
            .gfield{
                // width:calc(50% - 1.5rem)
                label{
                    margin: 0rem;
                }
            }
            .gfield.large{
                width:100%;
            }
            .gfield-RADIO>div{
                display:flex;
                flex-direction:row;
                margin-top: 1.5rem;
            }
            .gfield-RADIO>div>div{
                // flex-basis: 100px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                margin-right: 5rem;
            }
            .gfield-RADIO input{
                margin: 0 1rem 0 0;
                height: 100%;
            }
            input[type='radio'] {
                accent-color: #5E6738;
                min-width: 1rem;
            }
            div.submit{
                margin-top:2rem;
                flex-basis:100%;
            }
            label.required:after{
                content:"*";
            }
            input:required:valid, select:required:valid, textarea:required:valid{
                border-color:#889631;
                border-width: 1.5px;
            }
            
            input.invalid, select.invalid, textarea.invalid{
                border-color:red;
                border-width: 1.5px;
            }
            
        }
    }
    

}