.primrose-friends {
    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        //padding: 0 40px;

        .desktop-content { 
            .tab-content {
                justify-content: space-between;
                position: relative;
                border: 12px solid $neutral-2;
                border-radius: 20px;
                padding: 1rem;
                margin-bottom: 2rem;
                flex-direction: column;
                border-width: 15px;

                &:after {
                    content: '';
                    width: calc(100% - 2rem);
                    height: calc(100% - 2rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    pointer-events: none;
                    border: 2px dashed $neutral-2;
                    border-radius: 5px;
                }

                >.wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 1rem 0.5rem;
                }

                .image-wrapper {
                    flex-basis: 30%;
                    padding-top: 0;
                    padding: 42px 1rem;
                }

                .content-wrapper {
                    flex-basis: 65%;

                    h3 {
                        text-align: left;
                    }

                    ul {
                        margin-bottom: 0;
                    }
                }

                &.Blue,
                &.Blue::after {
                    border-color: #006BA6;
                    .image-wrapper {
                        img {
                            background-color: #006BA6;
                        }
                    }
                }
                &.Blue
                 {
                    .image-wrapper {
                        img {
                            background-color: #006BA6;
                            border-radius: 50%;
                        }
                    }
                }

                &.Orange,
                &.Orange:after {
                    border-color: #FF9E1B;
                }
                &.Orange
                {
                   .image-wrapper {
                       img {
                           background-color: #FF9E1B;
                           border-radius: 50%;
                       }
                   }
               }
                &.Purple,
                &.Purple::after {
                    border-color: #814C9E;
                }
                &.Purple
                {
                   .image-wrapper {
                       img {
                           background-color: #814C9E;
                           border-radius: 50%;
                       }
                   }
               }
                &.Teal,
                &.Teal::after {
                    border-color: #00A5B5;
                }
                &.Teal
                {
                   .image-wrapper {
                       img {
                           background-color: #00A5B5;
                           border-radius: 50%;
                       }
                   }
               }
                &.Red,
                &.Red::after {
                    border-color: #E03C31;
                } 
                &.Red
                {
                   .image-wrapper {
                       img {
                           background-color: #E03C31;
                           border-radius: 50%;
                       }
                   }
               }     
                &#pf-content-11,
                &#pf-content-11::after {
                    margin-bottom: 0;
                }

            }
        }
    }

    button {
        background-color: $transparent;
        position: relative;
        padding-left: 0;
        text-align: left;
        padding: 2rem 0;
        width: 100%;
        
        h5 {
            margin-bottom: 0;
        }

        #button {
            width: 2rem;
            height: 2rem;
            border: 0;
            font-size: 1rem;
            position: absolute;
            top: 1.65rem;
            right: 0;
            line-height: 1;
            padding: 0;
            border-radius: 50%;
            background-color: $brand-blue;
            border: 1px solid $brand-blue;

            @include media-breakpoint-up(lg) {
                display: none;
            }

            span {
                position: absolute;
                transition: 300ms;
                border-radius: 2px;
                background-color: $grayscale-1;

                &:first-child {
                    top: 30%;
                    bottom: 25%;
                    width: 2px;
                    left: 47%;
                    height: 40%;
                }

                &:last-child {
                    left: 27%;
                    right: 27%;
                    height: 2px;
                    top: 47%;
                }

            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: $neutral-2;
            @include transition;
        }

        &.expanded {

            h5,
            h5 span {
                color: $brand-blue !important;
            }

            #button {
                background-color: $transparent;

                span {
                    transform: rotate(90deg);
                    background-color: $brand-blue;

                    &:last-child {
                        left: 50%;
                        right: 50%;
                    }
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $brand-blue;
            }
        }
    }

    .tab-content {
        transform-origin: top;
        border: 12px solid $neutral-2;
        border-radius: 20px;
        padding: 1rem;
        border-width: 15px;
        margin-top: 1rem;

        &:after {
            content: '';
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            position: absolute;
            top: 1rem;
            left: 1rem;
            pointer-events: none;
            border: 1px dashed $neutral-2;
        }

        &.Blue,
        &.Blue::after {
            border-color: #006BA6;
            .image-wrapper {
                img {
                    background-color: #006BA6;
                }
            }
        }
        &.Blue
         {
            .image-wrapper {
                img {
                    background-color: #006BA6;
                    border-radius: 50%;
                }
            }
        }

        &.Orange,
        &.Orange:after {
            border-color: #FF9E1B;
        }
        &.Orange
        {
           .image-wrapper {
               img {
                   background-color: #FF9E1B;
                   border-radius: 50%;
               }
           }
       }
        &.Purple,
        &.Purple::after {
            border-color: #814C9E;
        }
        &.Purple
        {
           .image-wrapper {
               img {
                   background-color: #814C9E;
                   border-radius: 50%;
               }
           }
       }
        &.Teal,
        &.Teal::after {
            border-color: #00A5B5;
        }
        &.Teal
        {
           .image-wrapper {
               img {
                   background-color: #00A5B5;
                   border-radius: 50%;
               }
           }
       }
        &.Red,
        &.Red::after {
            border-color: #E03C31;
        } 
        &.Red
        {
           .image-wrapper {
               img {
                   background-color: #E03C31;
                   border-radius: 50%;
               }
           }
       }     
        &#pf-content-11,
        &#pf-content-11::after {
            margin-bottom: 0;
        }

        .image-wrapper {
            padding-top: 1rem;
            padding-bottom: 2rem;
            text-align: center;
           
            img {
                width: 127px;
                height: 127px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
                margin-right: 1.25rem;

                @include media-breakpoint-up(lg) {
                    width: 175px;
                    height: 175px;
                }

                @include media-breakpoint-up(xxl) {
                    width: 242px;
                    height: 242px;
                    padding-bottom: 0;
                }
            }
        }

        .content-wrapper {
            h3 {
                text-align: center;
            }

            .bio p {
                @extend .b2;
                max-width: 385px;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
            }

            sup {
                font-family: "Source Serif Pro", "Times New Roman", Times, serif;
                font-weight: 400;
            }

            .learn-more {
                color: $text-gray;

                &:hover {
                    color: $brand-blue;
                }
            }
        }

        .video-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            .watch-wrapper {
                @include media-breakpoint-up(xxl) {
                    max-width: 10rem;
                }
            }
            .video {
                position: relative;

                @include media-breakpoint-up(lg) {
                    padding: 0 1rem 1rem;
                }
                @include media-breakpoint-up(xxl) {
                    padding-bottom: 2rem;
                }
                video {
                    border-radius: 10px;
                    height: auto;
                    width: 100%;
                    display: block;

                    @include media-breakpoint-up(lg) {
                        width: 320px;
                    }
                    @include media-breakpoint-up(xxl) {
                        width: 408px;
                    }
                }

                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    z-index: 10;
                }
            }

            .b3 {
                text-align: right;
            }
        }
    }
}

.module.Page_Modules_Modules_PrimroseFriends {
    // overflow-x: hidden;

    .container.sticky .inner {
        position: sticky;
        height: 100%;
        top: 120px;
        z-index: 10;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 650px;
    }

    .inner {
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 650px;

            .label {
                width: calc(50% - 1rem);
                margin-right: 1rem;
            }
        }

        @include media-breakpoint-up(xxl) {
            height: 550px !important;
        }
    }
}