.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.scroll-to-top.visible {
  display: block;
  z-index: 999;
}

.scroll-to-top-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--border-primary, #ffffff);
  background-color: var(--black-neutral, #5e6738);
}
