.header {
    background-color: $ui-grayscale-1;
    .navbar {
        background-color: $ui-grayscale-1;
        @include dropShadow;
    }
    .navbar-toggler {
        border: 0;
        width: auto;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    .navbar-search {
        .hidden {
            display: none!important;
        }
        button {
            width: 50%;
        }
    }
    .navbar-nav {
        text-align: center;
        align-items: center;
    }
    .navbar-logo {
        @include media-breakpoint-up(lg) {
            width: 100px;
            height: auto;
        }
    }
    .navbar-logo {
        @include media-breakpoint-up(xl) {
            width: 200px;
        }
    }
    .navbar-logo {
        @include media-breakpoint-up(xxl) {
            width: 275px;
        }
    }
}